html,
body {
    height: 100%;
    margin: 0
}

#root {
    height: 100%
}

.App {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.Design {
    flex: 0 1 240px;
    display: flex;
    flex-flow: row;
    height: 240px;
}

.Controls {
    flex: 0 1 auto;
    background-color: #fdd;
    overflow: auto;
}

.Components {
    flex: 1 1 auto;
    background-color: #dfd;
    overflow: auto;
}

.Visualization {
    flex: 1 0 auto;
    background-color: #ddf;
}

input[type="file"] {
    display: none;
}
