body {
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ubuntu Sans Mono', source-code-pro, Consolas, monospace;
}
